.



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #00b6c4;
}

.container {
    width: 800px;
    background: white;
    margin: 50px auto;
    padding: 20px;
}
.heade {
    text-align: center;

 .photo {
    width: 140px;
    height: 140px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #00b6c4;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.headel {background-color: black;
    justify-content: end;
}  