
/*
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: montserrat;
}
body
{
  background: #00b6c4; 
}
.container
{ 
    background: #f5f5f5;
    max-width: 800px;
    margin: 60px auto;
    height: 1250px;
    padding: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 

}
.header
{
    text-align: center;
}
.header h1
{
    margin-bottom: 10px;
}
.header h3
{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}
.img-area
{
    width: auto;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    border: 15px groove deepskyblue;
}
.img-area img{width: 100%;}
.main{
    display: flex;
    flex-wrap: wrap;
}
.left{
    flex: 1;
    padding: 30px;
}
.left p{
   line-height: 2; 
}
.left ul li{
    line-height: 2;
}
h2{
    background: #00b6c4;
    padding: 15px;
    color: #fff;
    margin: 30px 0;
    font-size: 20px;
    border-radius: 0 5px 50px 0;
}
.right{
    flex: 1;
    padding: 30px;
}
.right h3{
    margin-bottom: 15px;
}
.right p{
    line-height: 2.9;
}
.right ul li{
    line-height: 2;
}
@media only screen and (min width:768px) and(max-width: 991px){
    .container{
        width: 95%;
        height: auto;
    }
    h2{font-size: 18px;}
}
@media only screen and(max-width: 600px){
    .main{
        flex-direction: column;
    }
    .left,.right{
        flex: none;
        width: 100%;
    }
    .container{
        width: 95%;
        height: auto;
    }
    .h2{
        font-size: 15px;
    }
}
 */  
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #00b6c4;
}

.container {
    width: 800px;
    background: white;
    margin: 50px auto;
    padding: 20px;
}
.header{text-align: left;}



/* HEADER fun...t */
.header {
    text-align: center;
}

.photo {
    width: 140px;
    height: 140px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #00b6c4;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header h1 {
    margin-bottom: 5px;
}

.header p {
    color: gray;
}

/* CONTENT ...fun.. */
.content {
    display: flex;
    margin-top: 20px;
}

.left/*, .right */{
    width: 50%;
    padding: 20px;
}

h2 {
    background: #00b6c4;
    color: white;
    padding: 8px;
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
}

/* MOBILE ar display function my... */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    .content {
        flex-direction: column;
    }

    .left/*, .right*/ {
        width: 100%;
    }
}
